
.translationgummy-bilingual-container {
 
}

.translationgummy-original {

}

.translationgummy-translation-wrapper {
  margin: 2px 0 !important;
  display: inline-block;
}


font.translationgummy-translation-content {
  font-family: inherit;
  word-break: break-word;
  user-select: text;
  display: inline-block;
}